body
{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #191919;
    padding-top: 30px;
    min-height: 100px;
}
header #title {
    color: #fff;
    float: left;
}
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header a:hover {
    color: black;
    color: #ffbc40;
}
header ul {
    padding: 0;
    margin: 0;
}
header li {
    color: #fff;
    float: left;
    display: inline;
    padding: 0 40px 0 20px;
}
header nav {
    float: right;
    margin-top: 10px;
}

.text
{
}

pre code
{
    text-align: left;
    border: 1px solid #999;
    width: 650px;
    display: block;
    padding: 20px;
}

footer {
    text-align: center;
    color: #fff;
    background-color: #191919;
    padding-top: 30px;
    min-height: 100px;
}